@custom-variant dark (&:is(.dark *));

:root {
    --background-dark: #ffffff;
    --background-buttons: rgb(66, 43, 196);
    --blur-for-shadows: rgb(144, 143, 151);
    --color-text-button: #ffff;
    --color-text-general: rgb(37, 52, 73);
    --background-emojis-color: rgb(184, 186, 187);
    --background-emojis-color-alert: rgb(238, 76, 76);
    --background-emojis-admin-profile: rgb(241, 195, 40);
    --background-dinamyc-general: rgb(226, 226, 226);
}

.dark {
    --background-dark: #080b14;
    --background-buttons: #464646;
    --blur-for-shadows: rgb(170, 166, 201);
    --color-text-button: #e2e2e2;
    --color-text-general: rgb(75, 165, 248);
    --background-emojis-color: rgb(43, 44, 44);
    --background-emojis-color-alert: rgb(207, 19, 19);
    --background-emojis-admin-profile: rgb(206, 160, 8);
    --background-dinamyc-general: rgb(119, 117, 253);
}